# Assignment 1

#Q1  <br>
	str = 'String' <br>
    list = ['hello',1,1.6]  <br>
    float = 1.5  <br>
    tuple = ('hello',1,2,3)  <br>

#Q2 1) str
   2) str
   3) list
   4) int

#Q3  <br>
    1) Division operator  <br>
        for example,a = 6/2  <br>
            a = 3 <br>
    2) Modulus operator  <br>
         for example , b = 7%2  <br>
             b = 1  <br>
    3) Floor division  <br>
         for example , c = 7//2  <br>
             c = 3  <br>
    4) Exponential   <br>
         for example , d = 4 ** 2  <br>
             d = 16  <br>

In [6]:
#Q4 
list = [1,2,3,7,'abc',2.5,True,5.8,"hello",8]

for i in list :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'int'>

In [1]:
#Q5
A = input("Enter Value for A: ")
B = input("Enter Value for B: ")
count = 0
A = int(A)
B = int(B)

while A%B==0 :
        count +=1
        A=A//B

print(count)

Enter Value for A: 8
Enter Value for B: 2
3

In [6]:
#Q6
list = [2,65,4,36,1,47,2,45,36,1,9,59,8,18,7,99,63,45,10,21,25,31,30,33,108]

for i in list:
    if i%3==0:
        print(f"{i} is divisible")
    else :
        print(f"{i} is not divisible")

2 is not divisible
65 is not divisible
4 is not divisible
36 is divisible
1 is not divisible
47 is not divisible
2 is not divisible
45 is divisible
36 is divisible
1 is not divisible
9 is divisible
59 is not divisible
8 is not divisible
18 is divisible
7 is not divisible
99 is divisible
63 is divisible
45 is divisible
10 is not divisible
21 is divisible
25 is not divisible
31 is not divisible
30 is divisible
33 is divisible
108 is divisible

#Q7
    Immutable objects cannot be changed once they are created, while mutable objects can be modified.  <br>
    Immutable data types: Strings , Tuples   <br>
    Mutable data types: Lists , Dictionaries

In [8]:
#Tuple exaple
numbers = (1,2,3)
print(numbers[2])
#numbers[1]=4  can't change value , it will show error

3

In [7]:
#list example
numbers = [1, 2, 3]
numbers[0] = 10 
numbers.append(4)
print(numbers)

[10, 2, 3, 4]